body {
    background-image: url("https://i.postimg.cc/SxzL1Zz3/scrapbookbg.png");
    background-color: purple; /* Fallback color if the image cannot be loaded */
}

.container {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  height: 100vh;           /* Sets the container height (e.g., full screen) */
}

p h1 h2 h3 { position: center; } 
h1 { color: purple}
p { color: green} 
h2 { colot: purple}
h3 { color: green}
